[Desktop Entry]
Encoding=UTF-8
Name=Nyerium
Comment=Nyerium P2P Cryptocurrency
Comment[fr]=Nyerium, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nyerium, eşten eşe kriptografik sanal para birimi
Exec=nyerium-qt %u
Terminal=false
Type=Application
Icon=nyerium128
MimeType=x-scheme-handler/nyerium;
Categories=Office;Finance;
