
## <summary>policy for nyerium</summary>


########################################
## <summary>
##	Transition to nyerium.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nyerium_domtrans',`
	gen_require(`
		type nyerium_t, nyerium_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nyerium_exec_t, nyerium_t)
')


########################################
## <summary>
##	Execute nyerium server in the nyerium domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nyerium_initrc_domtrans',`
	gen_require(`
		type nyerium_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nyerium_initrc_exec_t)
')


########################################
## <summary>
##	Search nyerium lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nyerium_search_lib',`
	gen_require(`
		type nyerium_var_lib_t;
	')

	allow $1 nyerium_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nyerium lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nyerium_read_lib_files',`
	gen_require(`
		type nyerium_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nyerium_var_lib_t, nyerium_var_lib_t)
')

########################################
## <summary>
##	Manage nyerium lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nyerium_manage_lib_files',`
	gen_require(`
		type nyerium_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nyerium_var_lib_t, nyerium_var_lib_t)
')

########################################
## <summary>
##	Manage nyerium lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nyerium_manage_lib_dirs',`
	gen_require(`
		type nyerium_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nyerium_var_lib_t, nyerium_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nyerium environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nyerium_admin',`
	gen_require(`
		type nyerium_t;
		type nyerium_initrc_exec_t;
		type nyerium_var_lib_t;
	')

	allow $1 nyerium_t:process { ptrace signal_perms };
	ps_process_pattern($1, nyerium_t)

	nyerium_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nyerium_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nyerium_var_lib_t)

')

